.card {
  width: 100%;
}

.card__image {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
  background-size: cover;
  background-position: center;
}

.card__image_picture_window {
  background-image: url(../images/1-photo-by-moritz-feldmann-from-pexels.jpg);
}
.card__image_picture_restaurant {
  background-image: url(../images/2-photo-by-ceiline-from-pexels.jpg);
}
.card__image_picture_cafe {
  background-image: url(../images/3-photo-by-tubanur-dogan-from-pexels.jpg);
}
.card__image_picture_bridge {
  background-image: url(../images/4-photo-by-maurice-laschet-from-pexels.jpg);
}
.card__image_picture_tunnel {
  background-image: url(../images/5-photo-by-van-anh-nguyen-from-pexels.jpg);
}
.card__image_picture_house {
  background-image: url(../images/6-photo-by-moritz-feldmann-from-pexels.jpg);
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  color: #212121;
  max-width: max-content;
}

.card__like-icon {
  opacity: 40%;
}

.card__like-icon:hover {
  opacity: 100%;
}

@media screen and (max-width: 768px) {
  .card__text {
    font-size: 16px;
    line-height: 1;
  }
}
