<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spots</title>
    <meta
      name="description"
      content="Spots website for TripleTen's sprint 3 project for Software Engineering."
    />
    <meta name="author" content="Anthony Lynn" />
    <meta name="keywords" content="Spots TripleTen" />
    <link rel="shortcut icon" href="favicon.ico" />
  </head>
  <body>
    <div class="page">
      <header class="header">
        <img
          src="<%= require('./images/logo.svg')%>"
          alt="Logo"
          class="header__logo"
        />
      </header>
      <main class="content">
        <section class="profile">
          <img
            src="<%= require('./images/avatar.jpg')%>"
            alt="Avatar"
            class="profile__avatar"
          />
          <div class="profile__info">
            <div class="profile__details">
              <h1 class="profile__name">Bessie Coleman</h1>
              <p class="profile__occupation">Civil Aviator</p>
            </div>
            <button type="button" class="profile__edit-btn">
              Edit Profile
            </button>
          </div>
          <button type="button" class="profile__post-btn">
            <img
              src="<%= require('./images/plus-icon.svg')%>"
              alt="Plus Icon"
              class="profile__post-icon"
            />
            New Post
          </button>
        </section>
        <ul class="card-container">
          <template id="card-template">
            <li class="card">
              <img src="src-image" alt="window" class="card__image" />
              <div class="card__bottom">
                <h2 class="card__text">Title</h2>
                <button type="button" class="card__like-icon"></button>
              </div>
              <button type="button" class="card__trash-icon"></button>
            </li>
          </template>
        </ul>
      </main>
      <footer class="footer">
        <p class="footer__copyright">2024 © Spots</p>
      </footer>
    </div>
    <div class="modal" id="profile-modal">
      <div class="modal__container">
        <div class="modal__top">
          <h2 class="modal__header">Edit Profile</h2>
          <button class="modal__exit-btn"></button>
        </div>
        <form class="modal__form" id="profile-form">
          <fieldset class="modal__fieldset">
            <label for="name" class="modal__field">
              Name
              <input
                id="name"
                type="text"
                class="modal__input"
                placeholder="Type your name"
                minlength="2"
                maxlength="40"
                required
              />
              <span class="modal__error" id="name-error">
                Please Fill out this field.
              </span>
            </label>
            <label for="description" class="modal__field">
              Description
              <input
                id="description"
                type="text"
                class="modal__input"
                placeholder="Describe yourself"
                minlength="2"
                maxlength="200"
                required
              />
              <span class="modal__error" id="description-error">
                Please Fill out this field.
              </span>
            </label>
          </fieldset>
          <button type="submit" class="modal__button">Save</button>
        </form>
      </div>
    </div>
    <div class="modal" id="post-modal">
      <div class="modal__container modal__container_type_post">
        <div class="modal__top">
          <h2 class="modal__header">New post</h2>
          <button class="modal__exit-btn"></button>
        </div>
        <form class="modal__form" id="post-form">
          <fieldset class="modal__fieldset">
            <label for="link" class="modal__field">
              Image link
              <input
                id="link"
                type="url"
                class="modal__input"
                placeholder="Paste a link to the picture"
                required
              />
              <span class="modal__error" id="link-error">
                Please Fill out this field.
              </span>
            </label>
            <label for="caption" class="modal__field">
              Caption
              <input
                id="caption"
                type="text"
                class="modal__input"
                placeholder="Type your caption"
                minlength="2"
                maxlength="30"
                required
              />
              <span class="modal__error" id="caption-error">
                Please Fill out this field.
              </span>
            </label>
          </fieldset>
          <button type="submit" class="modal__button">Save</button>
        </form>
      </div>
    </div>
    <div class="modal" id="image-modal">
      <div class="modal__container modal__container_type_preview">
        <button class="modal__exit-btn modal__exit-btn_type_preview"></button>
        <img
          class="modal__image"
          src="https://practicum-content.s3.us-west-1.amazonaws.com/software-engineer/spots/7-photo-by-griffin-wooldridge-from-pexels.jpg"
          alt=""
        />
        <p class="modal__caption">Golden Gate bridge</p>
      </div>
    </div>
  </body>
</html>
